/* renember: - everything is a box in css
             - articles are block-level elements */

div.container section.places h1 {
   font-size: 30px;
   text-align: left;
   margin-left: 30px;
}
div.container section.places .places-listings{
   display: flex;
   flex-wrap: wrap;
   flex-direction: wrap;
   justify-content: center;
}
div.container section.places article {
   width: 390px;
   padding: 20px;
   margin: 20px;
   border: #FF5A5F solid 1px;
   border-radius: 4px;
}
div.container section.places article h2 {
   font-size: 30px;
   text-align: center;
}
div.container section.places article div.price_by_night {
   position: relative;
   left: 80%;
   top: -80px;
   color: #FF5A5F;
   border: #FF5A5F solid 4px;
   border-radius: 60%;
   width: 60px;
   height: 60px;
   font-size: 30px;
   display: flex;
   align-items: center;
}

.max_guests, .number_rooms, .number_bathrooms {
   width: 100px;
}

div.container section.places article div.information {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;
   height: 80px;
   border-top: #DDDDDD solid 1px;
   border-bottom: #DDDDDD solid 1px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 60px;
}

.image1 {
   width: 50px;
   height: 50px;
   background-image: url("../images/icon_group.png");
   background-repeat: no-repeat;
}

.image2 {
   width: 50px;
   height: 50px;
   background-image: url("../images/icon_bed.png");
   background-repeat: no-repeat;
}

.image3 {
   width: 50px;
   height: 50px;
   background-image: url("../images/icon_bath.png");
   background-repeat: no-repeat;
}

